.card{
    width: 220px;
    padding: 15px;
    margin: 10px;
    background-color: bisque;
    border-radius: 10px;
    border: 2px black solid ;
}
.button{
    padding: 5px 10px;
    margin-top: 10px;
}
#container{
    display: flex;
    flex-wrap: wrap;
}